<div id="listingusers_container">
<h3>Listing users</h3>

<table class="table table-striped">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>image</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', show_people_path(user) %></td>
    <% if current_user %>
      <td><%= link_to 'Edit', edit_people_path(user) %></td>
      <% if current_user.user_type == "admin"%>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<a class="btn btn-primary btn-large" <%= link_to 'Sign up', new_user_registration_path %> </a>
<%-if user_signed_in?%>
  <a class="btn btn-primary btn-large" <%= link_to "Logout", destroy_user_session_path, :method => :delete %></a>
<%-else %>
  <a class="btn btn-primary btn-large" <%= link_to 'Login', new_user_session_path %> </a>
<%end%>
</div>