
<p id="notice"><%= notice %></p>
<div class="row-fluid">
        <div class="span3" style="background-color: white;">
          <!--Sidebar content-->
          
                <p>
                  
                  <%= image_tag @user.avatar.url %>
                  
                </p> 

                
        <div style="background-color: rgb(217, 237, 247);  border-style:solid;
            border-width:1px; border-color:black">
          
            <p>  <%= "#{@user.first_name} #{@user.last_name}" %> </p>       

            <p> <%= @user.user_type %>
            <p>  <%= @user.location %> 
            <p>  <%= @user.city %>, <%= @user.state %> <%= @user.zip %> 
            <p>  <%= @user.telephone %> </p>
            <p>  <%= @user.email %> </p>
        </div>          
</div>
          

 <div class="span6">
              <!--Body 1 content-->
          
        <P>  <h3>  <%= @user.header %> </h3> </P>
      <p><p><strong> Summary </strong></p>
      <p>             
      <%= @user.summary %>
      </p>
      </p>                      
                
</div>
<div>
<!--
<#% unless @user.events.empty? %>
<table class="span3" summary="User Events">
<#%= render @events %>-->

</table>
<!--%= will_paginate @events %>
<#%end%>-->
</div>

</div>
<%= link_to 'Edit', edit_people_path(@user) %> |
<%= link_to 'Back', users_path %>







