
<p id="notice"><%= notice %></p>
<div class="row-fluid">
        <div class="span3" style="background-color: white;">
          <!--Sidebar content-->
          
                <p>
                  <b>Image:</b>
                  <!--<%= image_tag @user.avatar.url %>
                  <%= image_tag @user.avatar.url(:medium) %>-->
                  <%= image_tag @user.avatar.url(:thumb) %>
                  
                  <!--<%= @user.image %>-->
                </p> 
                 <p>
            <b>Name:</b>
            <%= "#{@user.first_name} #{@user.last_name}" %>
          </p>

          <p>
            <b>Email:</b>
            <%= @user.email %>
          </p>           
          </div>

 <div class="span9">
              <!--Body 1 content-->
      <p><strong> Summary </strong><p>
      <p>             
      <%= @user.summary %>
      </p>
</div>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>







