
<p id="notice"><%= notice %></p>
 <div class="container">
  
<p>
   <b>Image:</b>
   <%= @user.image %>
</p>
     
<p>
   <b>Name:</b>
   <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <b>Header:</b>
  <%= @user.header %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Summary:</b>
  <%= @user.summary %>
</p>

</div>

