
<p id="notice"><%= notice %></p>
<div class="row-fluid">
        <div class="span3" style="background-color: white;">
          <!--Sidebar content-->
          
                <p>
                  <b>Profile:</b>
                  <%= image_tag @user.avatar.url(:thumb) %>
                  
                </p> 
        <div style="background-color: rgb(217, 237, 247);  border-style:solid;
            border-width:1px; border-color:black">
          
            <p>  Name: <%= "#{@user.first_name} #{@user.last_name}" %> </p>
            

            <p>  Email: <%= @user.email %> </p>
            <p>  Address: <%= @user.location %> </p>
            <P>  Header:  <%= @user.header %> </P>
          
        </div>          
</div>
          

 <div class="span9">
              <!--Body 1 content-->
      <p><strong> Summary </strong><p>
      <p>             
      <%= @user.summary %>
      </p>
</div>

</div>

<%= link_to 'Edit', edit_people_path(@user) %> |
<%= link_to 'Back', users_path %>







