<p id="notice"><%= notice %></p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>

<fieldset>
	  	<div class="control-group">
	   		<%= f.label :first_name, :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.text_field :first_name %>
	  		</div>	
	  	</div>

	  	<div class="control-group">
	   		<%= f.label :last_name, :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.text_field :last_name %>
	  		</div>	
	  	</div>

	  	<div class="control-group">
	   		<%= f.label :email, :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.email_field :email %>
	  		</div>	
	  	</div>
</fieldset>
<% end %>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
