
<p id="notice"><%= notice %></p>
<div class="row-fluid">
        <div class="span3" style="background-color: white;">
          <!--Sidebar content-->
          
                <p>
                  
                  <%= image_tag @user.avatar.url(:thumb) %>
                  
                </p> 

                
        <div style="background-color: rgb(217, 237, 247);  border-style:solid;
            border-width:1px; border-color:black">
          
            <p>  <%= "#{@user.first_name} #{@user.last_name}" %> </p>       

            
            <p>  <%= @user.location %> 
            <p>  <%= @user.city %>, <%= @user.state %> <%= @user.zip %> 
            <p>  <%= @user.telephone %> </p>
            <p>  <%= @user.email %> </p>
        </div>          
</div>
          

 <div class="span6">
              <!--Body 1 content-->
          
        <P>  <h3>  <%= @user.header %> </h3> </P>
      <p><p><strong> Summary </strong></p>
      <p>             
      <%= @user.summary %>
      </p>
      </p>               
       <p><p>  <Strong>Resume</Strong></p>
         <p> <a href="<%= @user.resume.url %> "> <%= "#{@user.first_name} #{@user.last_name}" %>_resume</a><%= image_tag @user.resume.url %>
       
         <iframe src="http://docs.google.com/gview?url=http://0.0.0.0:3000/system/users/resumes/2/original/111.pdf?1345341793&embedded=true" style="width:460px; height:500px;" frameborder="0"></iframe>
         <!--iframe src="http://docs.google.com/gview?url=<%= @user.resume.url %>&embedded=true" style="width:460px; height:500px;" frameborder="0"></iframe-->
           
       </p>           
                
</div>
<div>
<% unless @user.events.empty? %>
<table class="span3" summary="User Events">
<%= render @events %>

</table>
<!--%= will_paginate @events %-->
<%end%>
</div>
<div class="span3" style="background-color: rgb(217, 237, 247);  border-style:solid;
            border-width:1px; border-color:black">
<strong>Follwing Events List</strong><br />          
<p>Title <%= @event.title %></p>
<p>Time <%= @event.time %></p>
<p>Location <%= @event.local %></p>
<p>Events <%= @user.events.count %></p>

</div>

</div>

<%= link_to 'Edit', edit_people_path(@user) %> |
<%= link_to 'Back', users_path %>







