<section class='stories' style="min-height:450px;">
  <h3> Hot news from the D</h3>

  <div class="span8">
  <ul class="thumbnails" >
    <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://eventful.com/detroit_mi/events/august-casual-networking-social-metro-detroit-in-/E0-001-047162301-1" >
      <%= image_tag("/assets/business.png", :alt => "Networking Social") %>
    </a>
      </div>
        <div class="caption">
          <p>Networking Social for metro Detroit information...</p> 
<a class="btn btn-medium" href="http://eventful.com/detroit_mi/events/august-casual-networking-social-metro-detroit-in-/E0-001-047162301-1">
      Read more
      </a>
 </div>
</li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.meetup.com/MegaEveningEvent-com/" >
      <%= image_tag("/assets/internet.png", :alt => "Internet") %>
    </a>
      </div>
        <div class="caption">
          <p>Michigan Internet Marketing Club Events...</p> 
      <a class="btn btn-medium" href="http://www.meetup.com/MegaEveningEvent-com/">
      Read more
      </a>
     </div>
   </li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.meetup.com/Gamify-Learning-The-Quest-2-Learn/" >
      <%= image_tag("/assets/gamify.png", :alt => "Gamify") %>
    </a>
      </div>
        <div class="caption">
          <p>Welcome! Gamify Learning: The Quest 2 Learn...</p> 
<a class="btn btn-medium" href="http://www.meetup.com/Gamify-Learning-The-Quest-2-Learn//">
      Read more
      </a>
 </div>
</li>

<li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://eventful.com/detroit_mi/events/sbirsttr-101-introduction-and-overview-detroit-/E0-001-046808270-0" >
      <%= image_tag("/assets/sbir.png", :alt => "SBIR") %>
    </a>
      </div>
        <div class="caption">
          <p>SBIR/STTR 101: Introduction and Overview - Detroit...</p> 
<a class="btn btn-medium" href="http://eventful.com/detroit_mi/events/sbirsttr-101-introduction-and-overview-detroit-/E0-001-046808270-0">
      Read more
      </a>
 </div>
</li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://eventful.com/sterlingheights/events/ieee-smart-tech-metro-area-workshop-series-/E0-001-047358963-2" >
      <%= image_tag("/assets/smart tech.png", :alt => "smart_tech") %>
    </a>
      </div>
        <div class="caption">
          <p>IEEE Smart Tech: Metro Area Workshop Series...</p> 
      <a class="btn btn-medium" href="http://eventful.com/sterlingheights/events/ieee-smart-tech-metro-area-workshop-series-/E0-001-047358963-2">
      Read more
      </a>
     </div>
   </li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://eventful.com/southfield/events/innovation-encounter-2012-/E0-001-048146812-1" >
      <%= image_tag("/assets/innovation.png", :alt => "Workshop open") %>
    </a>
      </div>
        <div class="caption">
          <p>Innovation Lawrence Technological University...</p> 
<a class="btn btn-medium" href="http://eventful.com/southfield/events/innovation-encounter-2012-/E0-001-048146812-1">
      Read more
      </a>
 </div>
</li>
</ul>

  
</div>

</section>
