<section class='stories' style="min-height:450px;">
  <h3 style="vertical_align"> Hot news from the D</h3>

  <div class="span7">
  <ul class="thumbnails" >
    <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.freep.com/article/20120717/NEWS06/120717053/rick-snyder-ambassador-bridge-bomb-threat" >
      <%= image_tag("/assets/bilde.png", :alt => "Ambaaador Bridge bomb") %>
    </a>
      </div>
        <div class="caption">
          <p>Snyder: Ambassador Bridge bomb threat another reason...</p> 
<a class="btn btn-medium" href="http://www.freep.com/article/20120717/NEWS06/120717053/rick-snyder-ambassador-bridge-bomb-threat">
      Read more
      </a>
 </div>
</li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.freep.com/apps/pbcs.dll/article?AID=2012207150321" >
      <%= image_tag("/assets/storycorps.png", :alt => "StoryCorps") %>
    </a>
      </div>
        <div class="caption">
          <p>StoryCorps captures the lives and times of metro Detroiters...</p> 
      <a class="btn btn-medium" href="http://www.freep.com/apps/pbcs.dll/article?AID=2012207150321">
      Read more
      </a>
     </div>
   </li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.wxyz.com/dpp/news/salvation-army-hosting-job-fair-for-openings-in-southeast-michigan" >
      <%= image_tag("/assets/salvationarmy.png", :alt => "Salvation Army hosting job fair") %>
    </a>
      </div>
        <div class="caption">
          <p>Salvation Army job fair in SE Michigan! All levels ...</p> 
<a class="btn btn-medium" href="http://www.wxyz.com/dpp/news/salvation-army-hosting-job-fair-for-openings-in-southeast-michigan">
      Read more
      </a>
 </div>
</li>

<li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.freep.com/article/20120715/FEATURES07/207150341/1032/features/Travel-deal-week" >
      <%= image_tag("/assets/tracking_bears.png", :alt => "tracking_bear") %>
    </a>
      </div>
        <div class="caption">
          <p>a full day tracking bears in a specially designed tundra vehicle...</p> 
<a class="btn btn-medium" href="http://www.freep.com/article/20120715/FEATURES07/207150341/1032/features/Travel-deal-week">
      Read more
      </a>
 </div>
</li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.freep.com/article/20120714/FEATURES07/207140309/1032/features/Cedar-Point-Kings-Island-top-seasonal-destinations" >
      <%= image_tag("/assets/cedar_point.png", :alt => "cedar_point") %>
    </a>
      </div>
        <div class="caption">
          <p>Cedar Point, Kings Island are top seasonal destinations...</p> 
      <a class="btn btn-medium" href="http://www.freep.com/article/20120714/FEATURES07/207140309/1032/features/Cedar-Point-Kings-Island-top-seasonal-destinations">
      Read more
      </a>
     </div>
   </li>

 <li class="span2">
      <div class="thumbnail">
        <a target=_blank href="http://www.freep.com/article/20120715/FEATURES08/207150354/1033/features/Workshop-open-lung-cancer-patients-survivors-family-members" >
      <%= image_tag("/assets/workshop.png", :alt => "Workshop open") %>
    </a>
      </div>
        <div class="caption">
          <p>Workshop open to lung cancer patients, survivors, family...</p> 
<a class="btn btn-medium" href="http://www.freep.com/article/20120715/FEATURES08/207150354/1033/features/Workshop-open-lung-cancer-patients-survivors-family-members">
      Read more
      </a>
 </div>
</li>
</ul>

  
</div>

</section>
