<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class='row'>
	<section class='span8'>
		<%= render :partial => 'map' %>
		<%= render :partial => 'stories' %>
		<%= render :partial => 'events' %>
	</section>
	<aside class='span4'>
		
		<div class="aside_section">
			<h3>Mission Statement</h3>
			<hr/>

			<dl>
				<dt>
					To retain, support and connect IT professionals with quality resources, events, news and collaborations by maintaining a central hub for creative innovation in metro Detroit
				</dt>
			</dl>
		</div>
		
	<!--social media links/home page-->
		<div class="aside_section">
			
			<div id="social_btns">
				
			<div class="social_btn">
				<a href="http://facebook.com"><%= image_tag("/assets/facebook.png", :alt => "rss feed") %>
				</a>
			</div>
				
			<div class="social_btn">
				<a href="http://twitter.com"><%= image_tag("/assets/twitter.png", :alt => "rss feed") %>
				</a>
			</div>

			<div class="social_btn">
				<a href="https://linkedin.com"><%= image_tag("/assets/linkedin.png", :alt => "rss feed") %>
				</a>
			</div>

			<div class="social_btn">
				<a href="https://plus.google.com/"><%= image_tag("/assets/google.png", :alt => "rss feed") %>
				</a>
			</div>

			<div class="social_btn">
				<a href="https://plus.tumblr.com/"><%= image_tag("/assets/tumblr.png", :alt => "rss feed") %>
				</a>
		</div>
	<!--end social media links/home page-->

			

			<div style="clear:both;"></div>
			</div>
		</div>

		<div class="aside_section">
			<%= render :partial => 'orgs' %>
		</div>
	</aside>
</div>

