<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class='row'>
	<section class='span8'>
		<%= render :partial => 'map' %>
		<%= render :partial => 'stories' %>
		<%= render :partial => 'events' %>
	</section>
	<aside class='span4'>

		<div class="aside_section">
			

			<%= image_tag("skyline.png", :alt => "rss feed") %>
			<%= image_tag(asset_path('ItInTheDmissionstatement.png'), :style => "padding: 0px",:alt => "rss feed") %>

			
		</div>
        
                <h3>Jobs in the D</h3>
                    <div >
                            <ul>
                                    <li><a href="https://jobs-compuware.icims.com/jobs/11912/job">Java/J2EE Developer</a> at Compuware</li>
                                    <li><a href="https://jobs-compuware.icims.com/jobs/11910/job">Android Mobile Developer</a> at Compuware</li>
                                    <li><a href="https://jobs-compuware.icims.com/jobs/11907/job">Salesforce.com Developer</a> at Compuware</li>
                            </ul>
                    </div>

<!--social media links/home page-->
	<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_google_large' displayText='Google'></span>
		<div class="aside_section">

			<div id="social_btns">




			<div style="clear:both;"></div>
			</div>
		</div>

		<div class="aside_section">
			<%= render :partial => 'orgs' %>
		</div>
	</aside>
</div>

