<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class='row'>
	<section class='span8'>
		<%= render :partial => 'map' %>
		<%= render :partial => 'stories' %>
		<%= render :partial => 'events' %>
	</section>
	<aside class='span4'>

		<div class="aside_section">
			<img src="/assets/img_logo_itind_large.png" width="300" height="197">
			<!--h3>Mission Statement</h3-->
			<!--%= image_tag("skyline.png", :alt => "rss feed") %-->

			<%= image_tag(asset_path('ItInTheDmissionstatement.png'), :style => "padding: 0px",:alt => "rss feed") %>

			
		</div>
        
                


		<div class="aside_section">

			<div id="social_btns">




			<div style="clear:both;"></div>
			</div>
		</div>

		<div class="aside_section">
			<%= render :partial => 'orgs' %>
		</div>
	</aside>
</div>

