<%= form_for(resource, :as => resource_name, :html => {:class => "form-horizontal"}, :url => session_path(resource_name)) do |f| %>
 <fieldset>
	<div class="content_title"><p>Login</p></div>
	<div class="myboxinner">
		<div class ="row-fluid">
			<div class ="span4">
				<div class="control-group">
					<label>
						<%= f.label "Email"%>
					</label>
				<div class="controls">
					<%= f.email_field :email %>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<div class="control-group">
				<label>
					<%= f.label "Password"%>
				</label>
				<div class="controls">
					<%= f.password_field :password %>
				</div>
			</div>
		</div>
	</div>
  <% if devise_mapping.rememberable? -%>
 	<div class="row-fluid">
 		<div class="span4">
 			<div class="control-group">
 				<label>
 					<%= f.label "Remember me" %>
 				</label>
 				<div class="controls">
 					<%= f.check_box :remember_me %>
 				</div>
 			</div>
 		</div>
 	</div>
 	<% end -%>
 </div>
<div id="loginbtn" class="form-actions">
	<%= f.submit "Login", :class => "btn btn-primary" %>
</div>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>

