<div id="resources_container">
<h3>Resources</h3>



<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Notes from Session </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @notes.each do |notes| %>
          <tr>
            <td><%= notes.resource_title %></td>
            <% if !notes.resource_url.blank? %>
            <td><%= link_to truncate(notes.resource_url, :ommision => "...", :length => 20), notes.resource_url %></td>
            <% end %>
            <% if !notes.attachment_file_size.blank? %>
            <td><%= link_to truncate(notes.attachment_file_name, :ommision => "...", :length => 20), notes.attachment.url %></td>
            <% end %>
            <td><%= notes.resource_count %></td>
            <td><%= link_to 'Show', notes %></td>
            <td><%= link_to 'Edit', edit_resource_path(notes) %></td>
            <td><%= link_to 'Destroy', notes, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource1_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Images </p> </div>
    <section></br>
     <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @images.each do |images| %>
          <tr>
            <td><%= images.resource_title %></td>
            <% if !images.resource_url.blank? %>
            <td><%= link_to truncate(images.resource_url, :ommision => "...", :length => 20), images.resource_url %></td>
            <% end %>
            <% if !images.attachment_file_size.blank? %>
            <td><%= link_to truncate(images.attachment_file_name, :ommision => "...", :length => 20), images.attachment.url %></td>
            <% end %>
            <td><%= images.resource_count %></td>
            <td><%= link_to 'Show', images %></td>
            <td><%= link_to 'Edit', edit_resource_path(images) %></td>
            <td><%= link_to 'Destroy', images, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>

<div class='row' style="margin-left:0px">
  <div id="resource2_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Training </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @training.each do |training| %>
          <tr>
            <td><%= training.resource_title %></td>
            <% if !training.resource_url.blank? %>
            <td><%= link_to truncate(training.resource_url, :ommision => "...", :length => 20), training.resource_url %></td>
            <% end %>
            <% if !training.attachment_file_size.blank? %>
            <td><%= link_to truncate(training.attachment_file_name, :ommision => "...", :length => 20), training.attachment.url %></td>
            <% end %>
            <td><%= training.resource_count %></td>
            <td><%= link_to 'Show', training %></td>
            <td><%= link_to 'Edit', edit_resource_path(training) %></td>
            <td><%= link_to 'Destroy', training, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource3_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Links </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @links.each do |links| %>
          <tr>
            <td><%= links.resource_title %></td>
            <% if !links.resource_url.blank? %>
            <td><%= link_to truncate(links.resource_url, :ommision => "...", :length => 20), links.resource_url %></td>
            <% end %>
            <% if !links.attachment_file_size.blank? %>
            <td><%= link_to truncate(links.attachment_file_name, :ommision => "...", :length => 20), links.attachment.url %></td>
            <% end %>
            <td><%= links.resource_count %></td>
            <td><%= link_to 'Show', links %></td>
            <td><%= link_to 'Edit', edit_resource_path(links) %></td>
            <td><%= link_to 'Destroy', links, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>
<div class='row' style="margin-left:0px">
  <div id="resource4_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Tools </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @tools.each do |tools| %>
          <tr>
            <td><%= tools.resource_title %></td>
            <% if !tools.resource_url.blank? %>
            <td><%= link_to truncate(tools.resource_url, :ommision => "...", :length => 20), tools.resource_url %></td>
            <% end %>
            <% if !tools.attachment_file_size.blank? %>
            <td><%= link_to truncate(tools.attachment_file_name, :ommision => "...", :length => 20), tools.attachment.url %></td>
            <% end %>
            <td><%= tools.resource_count %></td>
            <td><%= link_to 'Show', tools %></td>
            <td><%= link_to 'Edit', edit_resource_path(tools) %></td>
            <td><%= link_to 'Destroy', tools, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource5_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Help </p> </div>
    <section></br>
     <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL or Attachment</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @help.each do |help| %>
          <tr>
            <td><%= help.resource_title %></td>
            <% if !help.resource_url.blank? %>
            <td><%= link_to truncate(help.resource_url, :ommision => "...", :length => 20), help.resource_url %></td>
            <% end %>
            <% if !help.attachment_file_size.blank? %>
            <td><%= link_to truncate(help.attachment_file_name, :ommision => "...", :length => 20), help.attachment.url %></td>
            <% end %>
            <td><%= help.resource_count %></td>
            <td><%= link_to 'Show', help %></td>
            <td><%= link_to 'Edit', edit_resource_path(help) %></td>
            <td><%= link_to 'Destroy', help, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>
<br />

<div class="actions">
  <a class="btn btn-primary" <%= link_to 'New Resource', new_resource_path %> </a>
</div>
</div>
