<h2>Resources</h2>



<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Notes from Session </p> </div>
    <section></br>
      
      Shankle turducken sirloin andouille turkey salami capicola flank meatball. Tenderloin rump turkey ham hock pig hamburger swine. Filet mignon jowl ham, frankfurter ham hock boudin pig pork turducken cow spare ribs pork loin meatball swine beef. Ham turkey capicola shankle, pork chop bresaola chicken biltong beef leberkas meatloaf turducken tenderloin pastrami jowl. Ball tip hamburger shankle ham chicken cow rump pastrami pancetta.
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Images </p> </div>
    <section></br>
      Boudin leberkas flank, swine ham shank jowl ribeye biltong pancetta pork chop pork. Frankfurter hamburger tongue doner fatback pastrami. T-bone pork chop strip steak, jerky biltong rump pork loin. Capicola spare ribs t-bone pork belly, ham hock tail sirloin ham ground round leberkas strip steak turkey shank brisket meatloaf. Short ribs andouille sirloin leberkas ball tip tongue, chicken meatball t-bone prosciutto ham. T-bone shank biltong tail hamburger frankfurter prosciutto corned beef strip steak short loin venison jerky short ribs.
    </section>
  </div>
</div>

<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Training </p> </div>
    <section></br>
      Spare ribs kielbasa salami rump. Short ribs ground round spare ribs sirloin. Tail ground round t-bone hamburger. Capicola pork loin bacon short ribs venison brisket filet mignon tail pork spare ribs fatback. Swine shoulder turkey boudin, corned beef venison t-bone tenderloin pig meatloaf. Drumstick frankfurter pork chop meatball turkey pig, venison sirloin ham filet mignon tongue strip steak cow.
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Links </p> </div>
    <section></br>
      Boudin pork loin tail, filet mignon pig shoulder jerky shankle cow. Shankle pancetta bacon, swine flank ground round doner rump short ribs brisket cow pork loin pastrami tail. Frankfurter shankle tongue sausage, meatball boudin corned beef jerky pancetta bresaola biltong turducken pork belly shank. Rump tail tri-tip ball tip shankle. Sausage filet mignon ground round, ribeye tri-tip doner ham hock bacon pastrami pork belly. Pork belly beef chicken flank.
    </section>
  </div>
</div>
<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Tools </p> </div>
    <section></br>
      Shankle turducken sirloin andouille turkey salami capicola flank meatball. Tenderloin rump turkey ham hock pig hamburger swine. Filet mignon jowl ham, frankfurter ham hock boudin pig pork turducken cow spare ribs pork loin meatball swine beef. Ham turkey capicola shankle, pork chop bresaola chicken biltong beef leberkas meatloaf turducken tenderloin pastrami jowl. Ball tip hamburger shankle ham chicken cow rump pastrami pancetta.
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Help </p> </div>
    <section></br>
      Boudin leberkas flank, swine ham shank jowl ribeye biltong pancetta pork chop pork. Frankfurter hamburger tongue doner fatback pastrami. T-bone pork chop strip steak, jerky biltong rump pork loin. Capicola spare ribs t-bone pork belly, ham hock tail sirloin ham ground round leberkas strip steak turkey shank brisket meatloaf. Short ribs andouille sirloin leberkas ball tip tongue, chicken meatball t-bone prosciutto ham. T-bone shank biltong tail hamburger frankfurter prosciutto corned beef strip steak short loin venison jerky short ribs.
    </section>
  </div>
</div>




<!--<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>File</th>
    <th>View-count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.resource_title %></td>
    <td><%= link_to resource.resource_url %></td>
    <td><%= resource.resource_file %></td>
    <td><%= resource.resource_count %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>-->

<br />

<div class="actions">
  <a class="btn btn-primary" <%= link_to 'New Resource', new_resource_path %> </a>
</div>


