<div id="resources_container">
<h3>Resources</h3>



<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Notes from Session </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @notes.each do |notes| %>
          <tr>
            <td><%= notes.resource_title %></td>
            <td><%= link_to notes.resource_url %></td>
            <td><%= notes.resource_file %></td>
            <td><%= notes.resource_count %></td>
            <td><%= link_to 'Show', notes %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Images </p> </div>
    <section></br>
     <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @images.each do |images| %>
          <tr>
            <td><%= images.resource_title %></td>
            <td><%= link_to images.resource_url %></td>
            <td><%= images.resource_file %></td>
            <td><%= images.resource_count %></td>
            <td><%= link_to 'Show', images %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>

<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Training </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @training.each do |training| %>
          <tr>
            <td><%= training.resource_title %></td>
            <td><%= link_to training.resource_url %></td>
            <td><%= training.resource_file %></td>
            <td><%= training.resource_count %></td>
            <td><%= link_to 'Show', training %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Links </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @links.each do |links| %>
          <tr>
            <td><%= links.resource_title %></td>
            <td><%= link_to links.resource_url %></td>
            <td><%= links.resource_file %></td>
            <td><%= links.resource_count %></td>
            <td><%= link_to 'Show', links %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>
<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Tools </p> </div>
    <section></br>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @tools.each do |tools| %>
          <tr>
            <td><%= tools.resource_title %></td>
            <td><%= link_to tools.resource_url %></td>
            <td><%= tools.resource_file %></td>
            <td><%= tools.resource_count %></td>
            <td><%= link_to 'Show', tools %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Help </p> </div>
    <section></br>
<table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>File</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @help.each do |help| %>
          <tr>
            <td><%= help.resource_title %></td>
            <td><%= link_to help.resource_url %></td>
            <td><%= help.resource_file %></td>
            <td><%= help.resource_count %></td>
            <td><%= link_to 'Show', help %></td>
            <% if current_user %>
              <%if current_user.user_type == "admin" %>
            <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
            <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>
<br />

<div class="actions">
  <a class="btn btn-primary" <%= link_to 'New Resource', new_resource_path %> </a>
</div>
</div>

