<h2>Listing Resources</h2>



<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Notes from Session </p> </div>
    <section></section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Images </p> </div>
    <section></section>
  </div>
</div>

<div class='row' style="margin-left:0px">
  <div id="resource_container" style="margin-left:0px", class="span5">
    <div class="content_title"><p> Training </p> </div>
    <section></section>
  </div>

  <div id="resource2_container"  style="margin-left:40px", class="span5">
    <div class="content_title"><p> Links </p> </div>
    <section></section>
  </div>
</div>




<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>File</th>
    <th>View-count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.resource_title %></td>
    <td><%= link_to resource.resource_url %></td>
    <td><%= resource.resource_file %></td>
    <td><%= resource.resource_count %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="actions">
  <a class="btn btn-primary" <%= link_to 'New Resource', new_resource_path %> </a>
</div>


