<h2><%= notice %></h2>

<p>
  <b>Title:</b>
  <%= @resource.resource_title %>
</p>
<p>
	<b>Type:</b>
	<%= @resource.resource_type %>
</p>
<% if !@resource.resource_url.blank? %>
<p>
  <b>URL:</b>
  <%= link_to @resource.resource_url, @resource.resource_url %>
</p>
<% end %>
<% if !@resource.attachment_file_size.blank? %>
<p>
  <b>File:</b>
      <td><%= link_to @resource.attachment_file_name, @resource.attachment.url %></td>
</p>
<% end %>

<% if current_user %>
  <% if current_user.user_type == "admin" %>
<div id="linkcontainer3r">
<%= link_to 'Edit', edit_resource_path(@resource) %> |
</div>
  <% end %>
<% end %>
<div id="linkcontainer33r">
  <%= link_to 'Back', resources_path %>
</div>