<%= form_for(@organization,:html => {:class => "form-horizontal", :multipart => true}) do |f| %>

<p>&nbsp;</p>
<div class="content_title"><p>Organizations</p></div>
<p class="clear">&nbsp;</p>
<% if @organization.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
    <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row-fluid">
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Name" %>
      </label>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Year Established" %>
      </label>
      <div class="controls">
        <%= f.text_field :org_start_year %>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Phone" %>
      </label>
      <div class="controls">
        <%= f.text_field :org_phone %>
      </div>
    </div>
  </div>
</div> 

<div class="row-fluid">
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Address" %>
      </label>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>
  </div>
 
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "City" %>
      </label>
      <div class="controls">
        <%= f.text_field :city %>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "State" %>
      </label>
        <div class="controls">
          <%= f.select(:org_state,[["Alabama       ","USA.AL"],["Alaska        ","USA.AK"],["Arizona       ","USA.AZ"],
                                   ["Arkansas      ","USA.AR"],["California    ","USA.CA"],["Colorado      ","USA.CO"],
                                   ["Connecticut   ","USA.CT"],["Delaware      ","USA.DE"],["Florida       ","USA.FL"],
                                   ["Georgia       ","USA.GA"],["Hawaii        ","USA.HI"],["Idaho         ","USA.ID"],
                                   ["Illinois      ","USA.IL"],["Indiana       ","USA.IN"],["Iowa          ","USA.IA"],
                                   ["Kansas        ","USA.KS"],["Kentucky      ","USA.KY"],["Louisiana     ","USA.LA"],
                                   ["Maine         ","USA.ME"],["Maryland      ","USA.MD"],["Massachusetts ","USA.MA"],
                                   ["Michigan      ","USA.MI"],["Minnesota     ","USA.MN"],["Mississippi   ","USA.MS"],
                                   ["Missouri      ","USA.MO"],["Montana       ","USA.MT"],["Nebraska      ","USA.NE"],
                                   ["Nevada        ","USA.NV"],["New Hampshire ","USA.NH"],["New Jersey    ","USA.NJ"],
                                   ["New Mexico    ","USA.NM"],["New York      ","USA.NY"],["North Carolina","USA.NC"],
                                   ["North Dakota  ","USA.ND"],["Ohio          ","USA.OH"],["Oklahoma      ","USA.OK"],
                                   ["Oregon        ","USA.OR"],["Pennsylvania  ","USA.PA"],["Puerto Rico   ","USA.PR"],
                                   ["Rhode Island  ","USA.RI"],["South Carolina","USA.SC"],["South Dakota  ","USA.SD"],
                                   ["Tennessee     ","USA.TN"],["Texas         ","USA.TX"],["Utah          ","USA.UT"],
                                   ["Vermont       ","USA.VT"],["Virginia      ","USA.VA"],["Washington    ","USA.WA"],
                                   ["Washington DC ","USA.DC"],["West Virginia ","USA.WV"],["Wisconsin     ","USA.WI"],
                                   ["Wyoming       ","USA.WY"]],
                                  :prompt => 'Select a state') %>
        </div>
      </div>
    </div>
  </div>
<div class="row-fluid">
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Zip" %>
      </label>
      <div class="controls">
        <%= f.text_field :zip %>
      </div>
    </div>
  </div>
 
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "URL" %>
      </label>
      <div class="controls">
        <%= f.text_field :org_url %>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Type" %>
      </label>
      <div class="controls">
        <%= f.select(:keyword_list, [["School", "School"], ["Company", "Company"]], :prompt => 'Select a type') %>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="control-group">
      <label class="left">
        <%= f.label "Logo" %>
      </label>
        <div class="controls">
          <%= f.file_field :logo %>
        </div>
      </div>
    </div>
  </div> 

<div class="row-fluid">
  <div class="span12">
    <div class="control-group">
      <label class="left">
        <%= f.label "Description" %>
      </label>
      <div class="controls">
        <%= f.text_area :description , :style=>"width:475px; height:50px" %>
      </div>
    </div>
  </div>
</div> 

<br><br>
<%= f.fields_for :socials do |builder| %>
<%= render 'social', :f => builder %>
<% end %>

<div class="actions">
  <%= f.submit ' Submit ', :class=> "btn btn-primary" %>
</div>
<% end %>

