<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :org_url %><br />
    <%= f.text_field :org_url %>
  </div>
  <div class="field">
    <%= f.label :web_link %><br />
    <%= f.text_field :web_link %>
  </div>

  <div class="field">
    <%= f.label :keyword %><br />
		<%= f.text_field :keyword_list %>
  </div>

	<div class="field">
		<%= f.label 'Organization Type' %>
		<%= f.collection_select(:org_type_id, OrgType.all, :id, :name) %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
