<%= form_for(@organization, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :name %>
      </div>
  </div>
  
  <div class="control-group">
    <%= f.label :address, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :address %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :city, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :city %>
    </div>
  </div>
  
      <div class="control-group">
        <%= f.label :zip, :class=> "control-label" %>
    <div class="controls">
        <%= f.text_field :zip %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :lat, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :lat %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :long, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :long %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :org_url, :class=> "control-label" %>
         <div class="controls">
        <%= f.text_field :org_url %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :web_link, :class=> "control-label" %>
     <div class="controls">
    <%= f.text_field :web_link %>
  </div>
</div>

  <div class="control-group">
    <%= f.label :keyword, :class=> "control-label" %>
     <div class="controls">
    <%= f.text_field :keyword_list %>
  </div>
</div>

	<div class="control-group">
		<%= f.label 'Organization Type', :class=> "control-label" %>
     <div class="controls">
		<%= f.collection_select(:org_type_id, OrgType.all, :id, :name) %>
	</div>
</div>
		
		<div class="control-group">
	    <label>My Logo</label>
	    <%= f.file_field :logo %>
	  </div>
	</div>
   
  <div class="actions">
    <%= f.submit ' Submit ', :class=> "btn btn-primary" %>
  </div>
<% end %>
