<h2>Listing Organizations</h2>   
 

<table  class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Year Established</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>URL</th>
    <th>Type</th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.org_start_year %></td>
    <td><%= organization.org_phone %></td>
    <td><%= organization.address %></td>
    <td><%= organization.city %></td>
    <td><%= organization.org_state %></td>
    <td><%= organization.zip %></td>
    <td><%= link_to organization.org_url, organization.org_url %></td>
    <td><%= organization.keyword_list %></td>
    <td><%= link_to 'Show', organization %></td>
        <% if current_user %>
            <%if current_user.user_type == "admin" %>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<div class="actions">
    <a class="btn btn-primary" <%= link_to 'New Organization', new_organization_path %> </a>
</div>
