<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>City:</b>
  <%= @organization.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @organization.zip %>
</p>

<p>
  <b>Lat:</b>
  <%= @organization.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @organization.long %>
</p>

<p>
  <b>Org url:</b>
  <%= @organization.org_url %>
</p>

<p>
  <b>Web link:</b>
  <%= @organization.web_link %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
