<% provide(:test_title, 'Brad') %>

<!DOCTYPE html> 

<h1>Testimonials</h1>

  <div id="testimonial_container" class='span5' style="margin-left:40px">
    <div class="content_title"> <p><%= yield (:test_title) %></p></div>
    <section>
      <iframe width="470" height="315" src="http://www.youtube.com/embed/mDxq1JFZ_wg" frameborder="0" allowfullscreen></iframe>
        
    </section>
  </div>



<% @testimonials.each do |testimonial| %>
  <tr>
    <td><%= testimonial.content %></td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Testimonial', new_testimonial_path %> -->
