<% provide(:video_title, 'Brad') %>
<% provide(:video_number, "WheO3v0gh1Y") %>

<h1>Testimonials</h1>

  <div id="testimonial_container" class='span5' style="margin-left:20px">
    <div class="content_title"> <p><%= yield (:video_title) %></p></div>
    <section>
      <iframe width="470" height="315" src="http://www.youtube.com/embed/<%= yield(:video_number) %>" frameborder="2" allowfullscreen></iframe>
        
    </section>
  </div>

<!--% print @@videos % -->


<% @testimonials.each do |testimonial| %>



  <tr>
    <td><%= testimonial.content %></td>
    <td><%= link_to 'Show', testimonial %></td>
    <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
    <td><%= link_to 'Destroy', testimonial, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Testimonial', new_testimonial_path %> -->
