<footer class='footer row'>
	<h3>Our Sponsors:</h3>
<hr/>
<%= image_tag("compuware logo small.png", :alt => "rss feed") %>
<%= image_tag("quicken logo.png", :alt => "rss feed") %>
<%= image_tag("mrktg assoc logo.png", :alt => "rss feed") %>
<%= image_tag("fathead.png", :alt => "rss feed") %>
<%= image_tag("galaxe solutions.png", :alt => "rss feed") %>
<hr/>
	Copyright IT in the D 2012
	<div class="social">
		Facebook | Twitter
	</div>
</footer>