<footer class='footer row'>
	
<hr/>
<h3>Our Sponsors:</h3>

<!--home page "sponsor" images/links-->
	<a href="http://www.compuware.com/">
	<%= image_tag("/assets/compuware logo small.png", :style => "padding: 25px", :alt => "rss feed") %></a>

	<a href="http://www.quickenloans.com/">
	<%= image_tag("/assets/quicken logo.png", :style => "padding: 25px",  :alt => "rss feed") %></a>

	<a href="http://marketingassociates.com/">
	<%= image_tag("/assets/mrktg assoc logo.png", :style => "padding: 25px", :alt => "rss feed") %></a>

	<a href="http://www.fathead.com/">
	<%= image_tag("/assets/fathead.png", :style => "padding: 25px", :alt => "rss feed") %></a>

	<a href="http://www.galaxesolutions.com/">
	<%= image_tag("/assets/galaxe solutions.png", :style => "padding: 25px",:alt => "rss feed") %></a>
<!--end home page "sponsor" images/links-->

<hr/>
	Copyright IT in the D 2012
	<div class="social">
		<div class="fb-like" data-href="http://www.itinthed.com" data-send="true" data-width="450" data-show-faces="true"></div>

		<a href="https://twitter.com/share" class="twitter-share-button" data-via="eyadh" data-size="large" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</footer>
