<!DOCTYPE html>
<html>
<head>

  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBcr3HBYcuBxKApzsGOFB9E8ZcMlvpf3HQ&sensor=false"></script>


  
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<%= render :partial => '/layouts/header' %>

		<%= yield %>

		<%= render :partial => '/layouts/footer' %>
	</div>
</body>
</html>
