<!DOCTYPE html>
<html>
<head>

  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBcr3HBYcuBxKApzsGOFB9E8ZcMlvpf3HQ&sensor=false"></script>


  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-7aa8a5d7-99cd-2827-7cfa-7b2d8af7f7e5"}); </script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<%= render :partial => '/layouts/header' %>

		<%= yield %>

		<%= render :partial => '/layouts/footer' %>
	</div>
</body>
</html>
