<!DOCTYPE html>
<html>
<head>

  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-dropdown.js"%>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBcr3HBYcuBxKApzsGOFB9E8ZcMlvpf3HQ&sensor=false"></script>

 
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<%= render :partial => '/layouts/header' %>

		<%= yield %>

		<%= render :partial => '/layouts/footer' %>
	</div>
</body>
</html>
